dist/

## Secrets
.env/
env/
*.env
*.local
*.local.*
*.secrets
*.secrets.*
*.secret
*.secret.*

## Misc
.ansible/

## Concourse
.concourse/vars/*

!.concourse/examples/
!.concourse/examples/**/example*.*

!*.gitkeep
